
<%= @message if @animes_in_genre.empty? %>
<% @animes_in_genre.each do |anime| %>
<div class='animelist'>
  <img src="<%= anime.img_url %>" height="250" ></br>
  <%= link_to anime.title, "/anime/#{anime.slug}"  %></br></br>
  <%= anime.description %>
  </div>

<% end %>
