@import "bootstrap-sprockets";
@import "bootstrap";
/*
 *= require rails_bootstrap_forms
 *= require font-awesome
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */

/* Some Style from the Bootstrap Default Theme */

/*
 */





body {
  background-image: image-url('backimg3.jpg'); // link to /assets/images/texture.png
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.field input {
  color: #000000;
  font-size: 14px;
  padding: 20px;
  border: 2px solid #000000;
  background: #f5f5f5;
  width: 100%;
  // margin-left: 1.3cm;
  // margin-right: 2cm;
}

#content {
    // width:300px;
    // height:200px;
    // position:absolute;
    // left:40%;
    // top:50%;
    // margin:-100px 0 0 -150px;
    margin-top: 250px;
}

#genres {
  margin-top: 65px;
}

#genres table {
  border-collapse: collapse;
  width: 100%;
}

#genres table td {
  width: 20%;
}

#animelist {

    padding:70px; 
}

.animelist {

    padding: 40px;
    overflow: hidden;
}

.animelist img {
    margin-right: 15px;
    float: left;
}

#fix_margin {
  margin-left: 3.5cm;
  margin-right: 2cm;

}

.error {
  color: red;
  margin-top: 20px;
  margin-left: 1.3cm;
}
